<h4 class="new-tweet">Compose new Tweet</h4>

<%= render 'shared/errors', object: @tweet %>

<%= form_for @tweet, html: { class: "form-horizontal", role: "form" } do |f| %>
  <div class="form-group">
    <div class="col-sm-6">
      <%= f.text_area :body, rows: 6, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6">
      <%= f.submit 'Tweet', class: "btn btn-success" %>
    </div>
  </div>
<% end %>