<% @who_to_follow.each do |user| %>
  <div class="well">
    <%= link_to "#{user.username}", user_path(user) %>
    <%= link_to '  +Follow', follow_user_path(user), method: :post %>
  </div>
<% end %>